.adminlte-navbar a{
    color: #FF733A !important;
}
.adminlte-navbar i{
    margin-right: 25px;
}
.nav-link:hover{
    border-left: solid #FF733A 4px;
    background-color: #FFF4EF !important;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
/* Correção */
.main-header{
    border-left: 1px solid #dee2e6;
    border-bottom: none !important;
}
.brand-link{
    border: none !important;
}
.elevation-4{
    box-shadow: none !important;
}
.brand-link{
    padding: 30px 30px;
}
.brand-image-xs{
    max-height: 50px !important;
}
.active{
    /* border-left: solid #FF733A 4px !important; */
    background-color: #FFF4EF !important;
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
}
.nav-pills .nav-link:not(.active):hover {
    color: #FF733A !important;
}
/* Tema */
.btn-primary {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f24516;
    border-color: #ee3e0d;
}
.btn-outline-primary {
    color: #f4623a;
    border-color: #f4623a;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
}
.btn{
    padding-right: 40px;
    padding-left: 40px;
}